nav {
    grid-row: 1/2;
    grid-column: 1/-1;
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin: 2px auto;
        font-size: 16px;
        color: #444;
        span {
            font-weight: bold;
        }
        &.email {
            margin-top: 10px;
            font-size: 14px;
            color: #999;
        }
    }
}
