.users-list {
    flex-basis: 65%;
    max-width: 65%;
    height: 100%;
    font-size: 14px;
    .users {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 40px;
        overflow: auto;
        .user {
            padding: 2px 4px;
            color: #999;
            &.online {
                color: map-get($colors, button);
                font-weight: bold;
            }
        }
    }
}
